<p *ngFor =" let value of values" >{{value.id}}, {{value.name}}</p>
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="section section-we-do-2" id="values">
    <div class="container">
      <div class="title add-animation">  
        <h2>What I do</h2>
        <div class="separator-container">
          <div class="separator line-separator">⌘</div>
        </div>
        <p>I am a professional fine art photographer in Sante Fe.</p>
      </div>
      <div class="row">
           <div class="col-md-3 col-sm-6">
              <div class="card add-animation animation-1">
                 <div class="icon">
                      <i class="pe-7s-medal"></i>
                 </div>
                 <h3>Best Picture Awarded</h3>
                 <p>Not to brag, but I have been awarded for the Best Picture Award, which is a small token of recognition for my life of working in photography.</p>
             </div>
         </div>
         <div class="col-md-3 col-sm-6">
              <div class="card add-animation animation-2">
                 <div class="icon">
                     <i class="pe-7s-camera"></i>
                 </div>
                 <h3>Modern technology</h3>
                 <p>I like to use state of the art technology and only the best tools. Since 2010 a great company sponsors me with all the cool suff.</p>
             </div>
         </div>
         <div class="col-md-3 col-sm-6">
              <div class="card add-animation animation-3">
                 <div class="icon">
                     <i class="pe-7s-global"></i>
                 </div>
                 <h3>Many locations</h3>
                 <p>I love to move around and visit a lot of places. I have travelled for most of my life and I've taken pictures everywhere I went.</p>
             </div>
         </div>
         <div class="col-md-3 col-sm-6">
              <div class="card add-animation animation-4">
                 <div class="icon">
                     <i class="pe-7s-like"></i>
                 </div>
                 <h3>For every pic</h3>
                 <p>I like to tell a story with every photo that I take. I want for the viewers to get an immediate reaction and feeling. From every single picture.</p>
             </div>
         </div>         
      </div>
    </div>
  </div>